.game{
    text-align: center;
  }

.game-over-modal{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 235px;
  width: 320px;
  background-color: rgb(114, 17, 17);
  background-repeat: repeat;
  background-image: url("/public/images/cobblestone2.png");
  border: 3px solid black;
}

.game-won-modal{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 40%);
  height: 235px;
  width: 320px;
  background-color: darkgoldenrod;
  background-repeat: repeat;
  background-image: url("/public/images/cobblestone2.png");
  border: 3px solid black;
}

.start{
  height: 380px;
  transform: translate(-50%, 30%);
  background-color: darkgoldenrod;
  border: 3px solid rgb(48, 48, 48);
}


.score-container{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 60%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  color: goldenrod;
}

.score-container h4{
  margin: 2px 2px 2px 10px;
}

.grid{
  margin:auto;
  background-color: black;
  margin-bottom: 0px;
}

.cell{
  margin: 0;
  padding: 0;
  border: none;
}

.row-grid{
  height: 3.45rem;
}

img, .cell {
  width: 3.45rem;
  height: 3.45rem;
}


.controls{
  position: fixed;
  bottom: 0px;
  left: 43.5%;
}

.button{
  width: 4.3rem;
  height: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(51, 51, 51);
  color: goldenrod;
  padding: 0;
  opacity: 0.85;
}


.btn-bomb{
  height: 3.8rem;
  transform: translate(100%, 0%);
}

.button:active{
  border-color: rgb(223, 223, 223);
}

.btn-restart{
  opacity: 1;
  width: 5rem;
  height: 3.5rem;
  margin-top: 3px;
}


@media only screen and (max-width: 1000px) {
  .grid{
    margin-top: 0px;
  }
  .cell, img{
    width: 2.5rem;
    height: 2.5rem;
  }
  .row-grid{
    height: 2.5rem;
  }
  .controls{
    width: 100%;
    transform: translate(-40%, 0%);
  }
}


